@model QualityBooks.Models.Book

@{
    ViewData["Title"] = "Details";
    var imgUrl = @Href("~" + Model.PathOfFile);
    var errImg = @Href("~/images/book1.jpg");
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookID)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.BookID)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.Name)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            <p>@Html.DisplayFor(model => model.Price)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PathOfFile)
        </dt>
        <dd>
            <img class="img-responsive" style="max-width: 300px;" src="@imgUrl" alt="Book Image" onerror="this.onerror = null; this.src = '@errImg'">
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.BookID">Edit</a> |
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
